.noneTransition {
  transition: none;
}
li {
  position: relative;
  display: flex;
  background: white;
  margin-bottom: 12px;
  box-shadow: 3px 3px 6px 5px rgba(0,0,0,0.1);
  border-radius: 3px;
  opacity: 1;
  transition: transform .2s ease-in-out, opacity .1s linear;
}
li .id{
  position: relative;
  line-height: 3rem;
  width: 40px;
  left: -55px;
  color: #1c3c8e;
  line-height: 3rem;
  font-weight: bold;
  font-size: 2.2rem;
  text-align: right;
  user-select: none;
}
li .listItem{
  display: flex;
  margin-left: -20px;
  width: 100%;
  height: 3rem;
  z-index: 100;
}
li .listItem .ellipsis {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  min-width: 30px;
  height: 100%;
  position: absolute;
  right: 0px;
  box-sizing: border-box;

}
li .listItem .ellipsis img {
  height: 60%;
  opacity: .4;
}
li .title {
  line-height: 3rem;
  padding-left: 1rem;
}
.doneText {
  text-decoration: line-through;
}
.doneLi {
  opacity: .5;
}
li input {
  height: 3rem;
  width: 1rem;
  margin: 0;
}
li .remove {
  position: absolute;
  right: 0;
  height: 3rem;
  width: 2rem;
  font-size: 2rem;
  border: none;
  background: transparent;
  color: #1c3c8e;
  z-index: -95;
  user-select: none;
}
li .remove:focus {
  outline: none;
}

@media (max-width: 800px){
  li {
    transition: inherit;
  }
  li .remove {
    display:none;
  }
  li .id{
    width: 30px;
    left: 3px;
    font-size: 1.6rem;
    color: #999eac;
  }
  li .listItem {
    margin-left: 10px;
  }
}